body {
  text-align: center; }

h1 {
  display: inline-block;
  text-align: left;
  width: 220px;
  line-height: 1.2;
  background-image: linear-gradient(to right, green 40%, transparent 0);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 17px; }
