body {
  background-color: #000;
  color: #ffffff;
  font-size: 16px;
  padding: 50px; }

.name {
  text-decoration: underline; }

[src$="I.jpg"] {
  border: 5px solid #fff; }

.strong {
  font-weight: bold; }

.info {
  -webkit-columns: 2;
    -webkit-columns--moz-columns: 2;
    -webkit-columns-columns: 2; }
